Chatbot Melodia Magica - Groq Redis Memory - Otimizado.json
{
  "name": "Chatbot Melodia Mágica - Groq Redis Memory - Otimizado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e928b40f-4cec-4f9f-9407-99362c93691b",
      "name": "Webhook - Receber Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        128
      ],
      "webhookId": "chatbot-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "00559ed4-8283-43bb-a067-622dbf29af15",
      "name": "Validar Mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        224,
        128
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é a Melodia, assistente virtual especializada do jogo educativo 'Melodia Mágica'. \n\nSua personalidade:\n- Sempre amigável, educativa e adequada para crianças\n- Use emojis musicais 🎵🎶🎼🥁🎸🎹 para tornar as conversações mais divertidas\n- Mantenha respostas concisas mas informativas\n- Lembre-se das informações que o usuário compartilha (nome, instrumentos favoritos, etc.)\n\nSuas especialidades:\n- Instrumentos musicais (bateria, piano, violão, etc.)\n- Teoria musical básica\n- História da música\n- Técnicas musicais para iniciantes\n- Curiosidades sobre música\n\nComportamento conversacional:\n- SEMPRE se lembre do nome do usuário quando ele se apresentar\n- Faça referência às preferências musicais mencionadas anteriormente\n- Seja proativa em sugerir tópicos relacionados aos interesses do usuário\n- Se o usuário mencionar um instrumento, ofereça dicas específicas sobre ele\n- Mantenha o contexto da conversa anterior\n\nExemplos de respostas contextuais:\n- Se o usuário disse que se chama Patrick e gosta de bateria, responda: \"Oi Patrick! Que legal que você gosta de bateria! 🥁\"\n- Continue conversas anteriores de forma natural\n- Ofereça informações progressivas sobre os tópicos de interesse\n\nSempre responda em português brasileiro e mantenha o foco em música e educação musical.",
          "maxIterations": 3,
          "returnIntermediateSteps": false
        }
      },
      "id": "004bdd65-2329-496d-9a34-3c97bd74447e",
      "name": "AI Agent - Melodia",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        448,
        -144
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "2d7c4506-e69d-492c-8973-bf1cbcdf0215",
      "name": "Groq LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        48
      ],
      "credentials": {
        "groqApi": {
          "id": "zLRZx39eYWb9vqID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook - Receber Mensagem').item.json.session_id }}",
        "sessionTTL": 120,
        "contextWindowLength": 15
      },
      "id": "9b3f6f19-6b8a-4d4c-9d5f-3e1a0a9f11aa",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        448,
        -272
      ],
      "credentials": {
        "redis": {
          "id": "redis-local",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output, \"session_id\": $('Webhook - Receber Mensagem').item.json.session_id, \"timestamp\": new Date().toISOString(), \"source\": \"n8n-groq-agent-optimized\" } }}",
        "options": {}
      },
      "id": "361c21f7-0e9b-4e9b-95a4-b4cc8e684632",
      "name": "Responder ao Django",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        832,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": \"Desculpe, não recebi sua mensagem. Tente novamente! 😊\", \"session_id\": $('Webhook - Receber Mensagem').item.json.session_id, \"error\": \"empty_message\" } }}",
        "options": {}
      },
      "id": "ad2b67b4-d0d0-4b68-9d1c-76a9f0bb69a6",
      "name": "Resposta de Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receber Mensagem": {
      "main": [
        [
          {
            "node": "Validar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Mensagem": {
      "main": [
        [
          {
            "node": "AI Agent - Melodia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Melodia": {
      "main": [
        [
          {
            "node": "Responder ao Django",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Melodia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Melodia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7053e3b-d4bf-49db-bf9e-cf7edf898af3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "375a4a76cca8398bd27ce3fa6d063864b13586450dfd848c88ea6be156ef5fbb"
  },
  "id": "pwC0ZZX8pK9b8mrl",
  "tags": []
}